<div class="edit_res">
  <h2>Modifica risorse</h2>
  <table>
    <tr>
      <th>CPU</th>
      <th>RAM</th>
      <th>Disk (GB)</th>
      <th>maxVm</th>
      <th>maxActive</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxCpu"
          thumbLabel
          tickInterval="1"
          min="1"
          max="8">
        </mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxRam"
          [displayWith]="formatLabel"
          thumbLabel
          tickInterval="128"
          min="128"
          max="10240">
        </mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxDisk"
          thumbLabel
          tickInterval="1"
          min="1"
          max="512">
        </mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxVm"
          thumbLabel
          tickInterval="1"
          min="1"
          max="10">
        </mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxActive"
          thumbLabel
          tickInterval="1"
          min="1"
          max="{{vmConfigNew.maxVm}}">
        </mat-slider>
      </td>
      <td>
        <button mat-flat-button (click)="save()" color="primary">Salva</button>
      </td>
    </tr>
  </table>
</div>
