h2 {
  margin: 1em;
}
mat-sidenav-container{ height: 100%; }

button {
  margin-left: 1em;
  margin-bottom: 1em;
}

table {
  width: 140%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

h2 {
  margin: 1em;
}
