.innerTable{
  width: 100%;
}
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.ts {
  width: 100%;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

h2 {
  margin: 1em;
}
