<div class="login_form">
  <h1>Registrazione</h1>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="firstName" required/>
      <mat-error *ngIf="checkError('firstName')">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cognome</mat-label>
      <input matInput type="text" formControlName="lastName" required/>
      <mat-error *ngIf="checkError('lastName')">{{getSurnameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Matricola</mat-label>
      <input matInput type="text" (input)="fillEmail()" formControlName="id" required/>
      <mat-error *ngIf="checkError('id')">{{getIdErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" [value]="emailValue" disabled/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password" required/>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="checkError('password')">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Verifica Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required/>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error  *ngIf="checkError('confirmPassword')">{{getCheckPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <label>{{labelValue}}</label>
    <button mat-raised-button color="primary" (click)="register()">Registrati</button>
    <button class="right" mat-raised-button color="warn" routerLink="/home" mat-dialog-close="true">Annulla</button>
  </form>
</div>
