<div>
  <h1>Aggiungi consegna</h1>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Nome consegna</mat-label>
      <input matInput type="text" formControlName="name" required/>
      <mat-error *ngIf="checkError('name')">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data inizio</mat-label>
      <input matInput [min]="minDateR" [matDatepicker]="picker" placeholder="Scegli una data" [formControl]="dataR" required readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
<!--      <mat-error *ngIf="checkError('dataR')">{{getDataErrorMessage()}}</mat-error>-->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data fine</mat-label>
      <input matInput [min]="dataR.value" [matDatepicker]="picker2" placeholder="Scegli una data" [formControl]="dataE" required readonly>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
<!--      <mat-error *ngIf="checkError('dataE')">{{getDataErrorMessage()}}</mat-error>-->
    </mat-form-field>

    <mat-form-field>
      <ngx-mat-file-input formControlName="requiredFile" [accept]="'.jpg,.jpeg,.png,.svg'" placeholder="Immagine consegna" valuePlaceholder="Seleziona un file" required></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
      <mat-error *ngIf="checkError('requiredFile')">Nessun file selezionato.</mat-error>
    </mat-form-field>

    <label>{{labelValue}}</label>
    <button mat-raised-button color="primary" (click)="add()">Aggiungi</button>
    <button class="right" mat-raised-button color="warn" mat-dialog-close="">Annulla</button>
  </form>
</div>
