mat-sidenav-container{
  height: calc(100vh - 130px);
}

#hamburger {
  margin-right: 1em;
}

.margin_prof {
  height: 0.5em;
}

.professors_div {
  overflow-y: auto;
  margin-top: 5px;
  height: 50px;
  text-align: center;
}
.prof_span{
  margin-top: 0.5em;
  line-height: 1.3;
  display: block;
  font-size: 0.8em;
  font-weight: lighter;
  margin-right: 1em;
}
.fill_space{
  flex: 1 1 auto;
}

#add-button{
  text-align: center;
  margin: 20px;
}

#enroll-button{
  text-align: center;
  margin: 20px;
}

#subtitle{
  font-weight: lighter!important;
}

.admin-tools {
  background-color: #ffd740;
  color: #000000;
}
.margin-right-left {
  margin: 0 5px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
  background-color: #E91E63;
  background-image: -webkit-linear-gradient(45deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent)
}
