<div class="external_div">
  <h2>Storico elaborati</h2>
  <!--<button mat-raised-button (click)="openCreateDraft()" class="add" color="primary">Crea elaborato</button>-->
  <div class="innerTable">
    <table mat-table class="ts" [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>IdStudente</th>
        <td mat-cell *matCellDef="let element">{{element.student.id}}</td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stato</th>
        <td mat-cell *matCellDef="let element">{{element.state}}</td>
      </ng-container>
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>timestamp</th>
        <td mat-cell *matCellDef="let element">{{element.timestampD}}</td>
      </ng-container>

      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef>Apri elaborato</th>
        <td mat-cell *matCellDef="let element"> <button mat-stroked-button [disabled]="!canOpen(element)" [routerLink]="assignmentId + '/drafts/' + element.id"><mat-icon>open_in_new</mat-icon></button></td>
      </ng-container>

      <ng-container matColumnDef="correction">
        <th mat-header-cell *matHeaderCellDef>Leggi correzione</th>
        <td mat-cell *matCellDef="let element"><button [routerLink]="assignmentId + '/drafts/' + element.id + '/correction'" [disabled]="!canOpenCorrection(element)" mat-stroked-button><mat-icon>check</mat-icon></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayDraft"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplayDraft;" matRipple
          class="element-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
</div>
