<h2>Elenco elaborati</h2>
<div class="innerTable">
  <mat-table class="table-striped" #table2 [dataSource]="dataSource" #dSort="matSort" matSort
             multiTemplateDataRows>

    <ng-container matColumnDef="{{column2}}" *ngFor="let column2 of columnsToDisplayDraft">-->
      <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column2}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column2]}} </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplayDraft"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplayDraft;" matRipple
             class="element-row"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
