<div *ngIf="dataSource !== undefined && dataSource.length>0">
  <h2>VMs create</h2>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef>Creatore</th>
      <td mat-cell *matCellDef="let element"> {{element.student.toString()}} </td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Stato</th>
      <td mat-cell *matCellDef="let element"> {{element.active ? 'Attiva' : 'Spenta'}} </td>
    </ng-container>
    <ng-container matColumnDef="cpu">
      <th mat-header-cell *matHeaderCellDef>CPU</th>
      <td mat-cell *matCellDef="let element"> {{element.cpu}} </td>
    </ng-container>
    <ng-container matColumnDef="ramSize">
      <th mat-header-cell *matHeaderCellDef>RamSize</th>
      <td mat-cell *matCellDef="let element"> {{element.ramSize}} </td>
    </ng-container>
    <ng-container matColumnDef="diskSize">
      <th mat-header-cell *matHeaderCellDef>DiskSize</th>
      <td mat-cell *matCellDef="let element"> {{element.diskSize}} </td>
    </ng-container>
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Apri</th>
      <td mat-cell *matCellDef="let element"> <button mat-stroked-button  [disabled]="!element.active" [routerLink]="element.id"><mat-icon>open_in_new</mat-icon></button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
<app-vm-edit-resources (emitConfig)="save($event)" [vmConfigNew]="vmConfigNew"></app-vm-edit-resources>
<h2>Risorse usate</h2>
<app-team-resources [vmConfig]="vmConfig" [cpu]="cpu()" [ram]="ram()" [disk]="disk()" [active]="active()" [vmNumber]="vmNumber()"></app-team-resources>
