table {
  width: 100%;

}
.image-cropper {
  width: 40px;
  height: 40px;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  /*position: relative;*/
  /*overflow: hidden;*/
  border-radius: 50%;
}

.full-size{
  width: 100%;
}

.disabled{
  color: #3f48cc!important;
  margin: 0;
  padding: 0;
}

mat-grid-list{
  margin: 0 15px;
}
