<!--todo: fare tabella stile gmail-->
<table mat-table matSort [dataSource]="dataSource">
  <ng-container *ngIf="students" matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox [checked]=isChecked() [indeterminate]=isIntermediate() (change)="selectHeaderChange($event)" ></mat-checkbox></th>
    <td mat-cell *matCellDef="let element"><mat-checkbox  (change)="selectChange($event, element)" [checked]="element.selected"></mat-checkbox></td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Matricola</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="photo">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Foto</th>
    <td mat-cell *matCellDef="let element"><img class="image-cropper"  [src]="element.photoUrl" alt="Foto {{element.id}}"/></td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{element.firstName}} </td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Cognome</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>
  <ng-container *ngIf="students" matColumnDef="group">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Team</th>
    <td mat-cell *matCellDef="let element">{{element.groupName}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
