h1 {
  text-align: center;
}
mat-form-field {
  margin-right: 5%;
  margin-left: 5%;
  /*width: 10em;*/
  width: 40%;
}

input[type="text"][disabled] {
  color: black;
}

#img_div {
  position: relative;
  width: 100%;
  text-align: center;
  vertical-align: center;
  margin: 2em auto;
}

#img_div button {
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*img {*/
/*  width: 50%;*/
/*  border-radius: 50%;*/
/*  border: 0.4em solid #555;*/
/*}*/

.image-cropper {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  /*position: relative;*/
  /*overflow: hidden;*/
  border-radius: 50%;
}

/*.image-cropper img {*/
/*  !*height: 200px;*!*/
/*  background-position: center;*/
/*  background-size: cover;*/
/*  resize=width:200/crop=d:[0,25,200,100]*/

/*  !*margin-left: -37%;*!*/
/*}*/

.right{
  float: right;
}

label {
  display: block;
  color: red;
  text-align: center;
  padding: 1.5em;
}

