<div>
  <h1>Aggiungi Team</h1>
  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <mat-label>Nome team</mat-label>
      <input matInput type="text" formControlName="teamName" value={{teamName}} required/>
      <mat-error *ngIf="checkError('teamName')">Team name invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Timeout (ore)</mat-label>
      <input matInput type="number" formControlName="timeout" value={{timeout}} required/>
      <mat-error *ngIf="checkError('timeout')">Invalid timeout</mat-error>
    </mat-form-field>

    <mat-form-field [style.width.px]=350>
      <mat-label>Add student</mat-label>
      <mat-select formControlName="members" value={{selectedStudents}} multiple>
        <div class="content">
        <mat-form-field>
          <input matInput
                 [formControl]="filterControl"
                 type="text"
                 name="filter-options"
                 id="filter-options"
                 placeholder="Search">
        </mat-form-field>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
          {{option.firstName}} {{option.name}} ({{option.id}})
        </mat-option>
        </div>
      </mat-select>
      <mat-error *ngIf="checkError('members')">
        You must select between {{course.min-1}} and {{course.max-1}} other students
      </mat-error>
    </mat-form-field>

    <button mat-button (click)="submit()">Aggiungi</button>
    <button (click)="onNoClick()" class="right" mat-button>Annulla</button>
  </mat-dialog-content>
</div>
