<mat-toolbar color="primary">
  <button mat-icon-button id="hamburger" (click)="toggleForMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="subtitle">{{selectedItem}}</span>
  <span class="fill_space"></span>
  <div *ngIf="selectedItem!='Seleziona un corso' && selectedItem!='Admin Tools'">
    <button  mat-mini-fab class="course_edit" (click)="startToEditCourse()"><mat-icon>edit</mat-icon></button>
    <span class="margin-right-left"></span>
    <!--<app-share-course-button [courseName]="selectedItem"></app-share-course-button>-->
    <button mat-mini-fab class="course_edit" (click)="deleteCourseDialog()"><mat-icon>delete</mat-icon></button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="side" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item class="admin-tools" (click)="adminToolsClick()"
                       [routerLink]="['/admin/tools']"><mat-icon>supervisor_account</mat-icon>Admin Tools</mat-list-item>
        <mat-list-item *ngFor="let course of courses"
                       (click)="handleClick(course)"
                       [routerLink]="['/admin/course', course.name]">{{course.name}}</mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
