.innerTable{
  width: 100%;
}
table {
  width: 100%;
}
.filter {
  float: right;
  width: 100%;
  display: inline-block;
}

.div_filter {
  margin-top: 1em;
  width: 100%;
}


/*tr.detail-row {*/
/*  height: 0;*/
/*}*/

/*tr.element-row:not(.-expanded-row):hover {*/
/*  background: whitesmoke;*/
/*}*/

/*tr.element-row:not(.-expanded-row):active {*/
/*  background: #efefef;*/
/*}*/

/*.element-row td {*/
/*  border-bottom-width: 0;*/
/*}*/

.element-detail {
  overflow: hidden;
  display: flex;
}

h2 {
  margin-top: 1em;
}
