<div>
  <h1>{{data.edit? 'Modifica': 'Creazione'}} istanza VM</h1>
  <table>
    <tr>
      <th>CPU</th>
      <th>RAM</th>
      <th>Disk</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <mat-slider
          [(ngModel)]="vm.cpu"
          thumbLabel
          tickInterval="1"
          color="primary"
          min="0"
          max="{{vmConfig.maxCpu}}"></mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vm.ramSize"
          thumbLabel
          tickInterval="128"
          color="primary"
          min="0"
          max="{{formatLabel(vmConfig.maxRam)}}"></mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vm.diskSize"
          thumbLabel
          tickInterval="1"
          color="primary"
          min="0"
          max="{{vmConfig.maxDisk}}GB"></mat-slider>
      </td>
    </tr>
  </table>
  <label>{{errorValue}}</label>
  <button mat-raised-button color="primary" (click)="create()">{{data.edit? 'Modifica': 'Crea'}}</button>
</div>
