form {
  min-width: 150px;
  width: 100%;
}

.search-form-field{
  margin-left: 1em;
  width: 50%;
  max-width: 400px;
  display: inline-block;
}

.add_csv {
  display: inline-block;
  width: 50%;
}

button {
  margin-left: 1em;
  margin-bottom: 1em;
}
