<mat-toolbar color="primary">
  <mat-icon (click)="toggleForMenuClick()">menu</mat-icon><a id="home_link" routerLink="home"><span>VirtualLabs</span></a>
  <span class="fill_space"></span>
  <span ><app-login-dialog></app-login-dialog></span>
</mat-toolbar>
<mat-toolbar>
  <span>{{selectedItem}}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item *ngFor="let course of courses"
                          (click)="handleClick(course)"
                         [disabled]="!course.enabled"
                         [routerLink]="['/teacher/course', course.name]">
          {{course.name}}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

