#home_link{
  color: white;
  text-decoration: none;
}

.fill_space{
  flex: 1 1 auto;
}

router-outlet {
  position: relative;
  height: 1000px;
}
.toolbar {
}

.course_edit {
  /*margin-left: 0.5em;*/
  /*padding-top: 0.5em;*/
  /*padding-right: 0.5em;*/
  /*padding-left: 0.5em;*/
  /*margin-right: 0.5em;*/
  /*background-color: rgba(0, 0, 0, 0.4);*/
}


#logo{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#title{
  font-weight: normal;
}

div.welcome-container{
  width: 100%;
  height: 100%;
  text-align: center;
}

div.welcome-container img{
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

div.welcome-container h1{
  color: white;
  font-size: 6em;
  margin-bottom: 200px;
}

mat-card{
  max-width: 50%;
  width: 100%;
  border-radius: 4%!important;

}

mat-card-header{
  width: 100%;
}

mat-card-title{
  line-height: 1.2em!important;
  font-size: 2.7em!important;
  margin: 5%;
  font-weight: normal!important;
}

mat-card-subtitle{
  line-height: 1.2em!important;
  font-size: 1.7em;
  margin: 10%;
  margin-top: 30px!important;
  font-weight: lighter!important;
}

#card-container{
  background-size: cover;
  background: url("src/assets/img/server.jpg") no-repeat center;
}
