table {
  width: 100%;
}
body {
  /*padding-left: 1em;*/
  /*padding-bottom: 1em;*/
}

button.add {
  margin-left: 1em;
}

h2 {
  padding-top: 1em;
  padding-left: 1em;
}

.no-elements{
  text-align: center;
}
.no-elements h2{
  margin-top: 20%;
  font-weight: lighter;
  color: #7f8c8d;
}

