h1 {
  text-align: center;
}
mat-form-field {

  display: block;
  width: 20em;
}

.right{
  float: right;
}


label {
  display: block;
  color: red;
  text-align: center;
  padding: 1em;
}

span {
  padding-left: 1em;
}

/*input {*/
/*  width: 100%;*/
/*}*/
/*todo: allungare input text fino a riempire tutta la dialog*/
/*.form_div {*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  -ms-transform: translateX(-50%);*/
/*  -webkit-transform: translateX(-50%);*/
/*  transform: translateX(-50%);*/
/*  !*width: 100%;*!*/
/*}*/

.form_div {
  display: block;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 1.5em;
  width: 20em;
}
