<div class="innerTable">
  <div class="div_filter">
    <span class="fill_space"></span>
    <mat-form-field appearance="fill" class="filter">
      <mat-label>Filtra per stato</mat-label>
      <mat-select (selectionChange)="applyFilter($event)">
        <mat-option value="all" selected>Visualizza tutti</mat-option>
        <mat-option value="READ">READ</mat-option>
        <mat-option value="SUBMITTED">SUBMITTED</mat-option>
        <mat-option value="REVIEWED">REVIEWED</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  todo: su alcuni campi non funziona il riordino, perchè?-->
  <!--  todo: forse perchè non appartengo all'oggetto dichiarato nel data source-->
  <!-- todo: molto probabile, ma tanto non è richiesto l'ordinamento per nome o cognome ma solo stato e timestamp -->
  <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Matricola </th>
      <td mat-cell *matCellDef="let element"> {{element.student.id}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.student.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Cognome </th>
      <td mat-cell *matCellDef="let element"> {{element.student.name}} </td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Stato </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>
    <ng-container matColumnDef="grade">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Voto </th>
      <td mat-cell *matCellDef="let element"> {{getGrade(element)}} </td>
    </ng-container>
    <ng-container matColumnDef="timestampD">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Creazione </th>
      <td mat-cell *matCellDef="let element"> {{element.timestampD}} </td>
    </ng-container>
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Apri</th>
      <td mat-cell *matCellDef="let element"> <button mat-stroked-button [disabled]="!canOpen(element)" [routerLink]="assignmentId + '/drafts/' + element.id"><mat-icon>open_in_new</mat-icon></button> </td>
    </ng-container>
    <ng-container matColumnDef="readCorrection">
      <th mat-header-cell *matHeaderCellDef>Correzione</th>
      <td mat-cell *matCellDef="let element"> <button mat-stroked-button [disabled]="!canOpenCorrection(element)" [routerLink]="assignmentId + '/drafts/' + element.id + '/correction'"><mat-icon>check_circle</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="correction">
      <th mat-header-cell *matHeaderCellDef>Correggi</th>
      <td mat-cell *matCellDef="let element">
        <input #fileInput type="file" [hidden]="true" accept="image/*" (change)="uploadCorrection($event, element)">
        <button mat-stroked-button [disabled]="!canCorrection(element)" (click)="fileInput.click()">
          <mat-icon>check</mat-icon>
        </button> </td>
    </ng-container>
    <ng-container matColumnDef="evaluate">
      <th mat-header-cell *matHeaderCellDef>Valuta</th>
      <td mat-cell *matCellDef="let element"> <button mat-stroked-button [disabled]="!canEvaluate(element)" (click)="evaluateDraft(element)"><mat-icon>spellcheck</mat-icon></button> </td>
    </ng-container>
    <ng-container matColumnDef="history">
      <th mat-header-cell *matHeaderCellDef>Storico</th>
      <td mat-cell *matCellDef="let element"> <button mat-stroked-button (click)="historyStudent(element)"><mat-icon>history</mat-icon></button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" matRipple
        class="element-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


</div>

