<mat-expansion-panel [hideToggle]="!areButtonsVisible()"
                     (click)="$event.stopPropagation()"
                     class="notification-card mat-elevation-z0"
                     [ngClass]="{'notification-unread': !notification.notificationRead}"
                     [disabled]="!areButtonsVisible()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="notification-body">
        <div class="img-date">
          <img class="image-cropper-small" [src]="notification.photoPath" alt="Sender Image">
          <p>{{notification.creation}}</p>
        </div>
        <p>{{notification.message}}</p>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="notification-buttons" *ngIf="areButtonsVisible()">
    <button mat-raised-button color="primary">Accetta</button>
    <span class="separator"></span>
    <button mat-raised-button color="warn">Rifiuta</button>
  </div>
</mat-expansion-panel>
