<div class="container">
  <div *ngIf="activeTeam; else elseBlock">
    <div *ngFor="let team of getTeams(teams)">
      <h2>{{team.team.name}}</h2>
      <p style="margin: 1em">Membri:</p>
      <ul>
        <p *ngFor="let member of team.activeMembers | async">
          {{member}}
        </p>
      </ul>
    </div>
  </div>
  <ng-template #elseBlock>
    <br>
    <button style="margin-left:15px" mat-raised-button (click)="openCreateTeamDialog()">
    <span>Crea gruppo</span>
    </button>
    <br><br>
    <mat-card [style.borderColor]="'#3f51b5'" *ngFor="let team of getTeams(teams)">
        <mat-card-header>
          <mat-card-title>{{team.team.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Proponente: {{team.proposer | async}}</p>
          <p>Membri in attesa:</p>
          <ul>
            <p *ngFor="let member of  team.pendingMembers | async">
              {{member}}
            </p>
          </ul>
          <p>Membri</p>
          <ul>
            <p *ngFor="let member of team.activeMembers | async">
              {{member}}
            </p>
          </ul>
          <div *ngIf="team.token | async as token">
            <button mat-raised-button (click)="respondToProposal(token, true)">
              <span>Accetta</span>
            </button>
            <button mat-raised-button (click)="respondToProposal(token, false)">
              <span>Rifiuta</span>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
  </ng-template>
</div>

