<div class="container">
  <h2>Elenco Gruppi</h2>

  <div *ngIf="!activeTeam">
    <button style="margin-left:15px" mat-raised-button (click)="openCreateTeamDialog()">
      <span>Crea gruppo</span>
    </button>
    <br><br>
  </div>

  <li *ngFor="let team of getTeams(teams)">
    <mat-card [style.borderColor]="activeTeam ? '#3f51b5' : '#ffe066'">
      <mat-card-header>
        <mat-card-title>{{team.team.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="!activeTeam">
          <p>Proponente: {{team.proposer | async}}</p>
          Membri in attesa:
          <ul>
            <p *ngFor="let member of  team.pendingMembers | async">
              {{member}}
            </p>
          </ul>
        </div>
        <p *ngIf="activeTeam; else elseBlock">Membri:</p>
          <ng-template #elseBlock>Membri confermati:</ng-template>
        <ul>
          <p *ngFor="let member of team.activeMembers | async">
            {{member}}
          </p>
        </ul>
        <div *ngIf="team.token | async as token">
          <button mat-raised-button (click)="respondToProposal(token, true)">
            <span>Accetta</span>
          </button>
          <button mat-raised-button (click)="respondToProposal(token, false)">
            <span>Rifiuta</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </li>
</div>

