<div class="container">
  <h2>Elenco Gruppi</h2>

  <p *ngIf="activeTeam; else elseBlock">C'è un team attivo</p>
  <ng-template #elseBlock>Non c'è nessun team attivo</ng-template>
  <br>

  <button *ngIf="!activeTeam" mat-raised-button (click)="openCreateTeamDialog()">
    <span>Crea gruppo</span>
  </button>
  <br><br>

  <li *ngFor="let team of getTeams(teams)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{team.team.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="!activeTeam">
          <p>Proponente: {{team.proposer | async}}</p>
          Membri in attesa:
          <ul>
            <p *ngFor="let member of  team.pendingMembers | async">
              {{member}}
            </p>
          </ul>
        </div>
        Membri confermati:
        <ul>
          <p *ngFor="let member of team.activeMembers | async">
            {{member}}
          </p>
        </ul>
        <div *ngIf="team.token | async as token">
          <button mat-raised-button (click)="respondToProposal(token, true)">
            <span>Accetta</span>
          </button>
          <button mat-raised-button (click)="respondToProposal(token, false)">
            <span>Rifiuta</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </li>
</div>

