<form class="search-form">
  <mat-form-field class="search-form-field">
    <mat-label>Aggiungi studente</mat-label>
    <input matInput type="search" placeholder="Nome dello studente" [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="studentSelected($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="add_csv">
    <button mat-raised-button color="primary" (click)="addStudent()" type="submit"><mat-icon>person_add</mat-icon> Aggiungi</button>
    <button mat-raised-button color="primary" id="upload_csv" (click)="fileInput.click()"><mat-icon>people</mat-icon> Aggiungi da CSV</button>
    <input #fileInput type="file" [hidden]="true" accept="text/csv" (change)="uploadCsv($event)">
    <button mat-raised-button color="warn" (click)="deleteStudents()" [disabled]="triggerDeleteButton()"><mat-icon>delete</mat-icon> Elimina</button>
  </div>
</form>
<app-users-table #table [(elements)]="enrolledStudents" [students]="true"></app-users-table>
