<div class="resources">
<h2>Modifica risorse</h2>
  <table>
    <tr>
      <th>CPU</th>
      <th>RAM</th>
      <th>Disk (GB)</th>
      <th>maxVm</th>
      <th>maxActive</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxCpu"
          thumbLabel
          step="1"
          min="1"
          max="16">
        </mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxRam"
          [displayWith]="formatLabel"
          thumbLabel
          step="512"
          min="1024"
          max="32768">
        </mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxDisk"
          [displayWith]="diskLabel"
          thumbLabel
          step="1"
          min="16"
          max="512">
        </mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxVm"
          thumbLabel
          step="1"
          min="1"
          max="10">
        </mat-slider>
      </td>
      <td>
        <mat-slider
          [(ngModel)]="vmConfigNew.maxActive"
          thumbLabel
          step="1"
          min="1"
          max="{{vmConfigNew.maxVm}}">
        </mat-slider>
      </td>
      <td class="button_td">
        <button mat-flat-button (click)="save()" color="primary">Salva</button>
      </td>
    </tr>
  </table>
</div>
