<div>
  <h2>VMs studente</h2>
  <button mat-raised-button (click)="openCreateVm()" class="add" color="primary">Crea VM</button>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef>Creatore</th>
      <td mat-cell *matCellDef="let element"> {{element.student.toString()}} </td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Stato</th>
      <td mat-cell *matCellDef="let element"> {{element.active ? 'Attiva' : 'Spenta'}} </td>
    </ng-container>
    <ng-container matColumnDef="cpu">
      <th mat-header-cell *matHeaderCellDef>CPU</th>
      <td mat-cell *matCellDef="let element"> {{element.cpu}} </td>
    </ng-container>
    <ng-container matColumnDef="ramSize">
      <th mat-header-cell *matHeaderCellDef>RamSize</th>
      <td mat-cell *matCellDef="let element"> {{element.ramSize}} </td>
    </ng-container>
    <ng-container matColumnDef="diskSize">
      <th mat-header-cell *matHeaderCellDef>DiskSize</th>
      <td mat-cell *matCellDef="let element"> {{element.diskSize}} </td>
    </ng-container>
    <ng-container matColumnDef="accensione">
      <th mat-header-cell *matHeaderCellDef>Accensione</th>
      <td mat-cell *matCellDef="let element"><button (click)="startOrStopVm(element)" [disabled]="!isOwner(element)" mat-stroked-button><mat-icon [ngStyle]="{'color': element.active ? '#00FF00' : '#FF4500'}"> power_settings_new</mat-icon></button></td>
    </ng-container>
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Apri</th>
      <td mat-cell *matCellDef="let element"> <button mat-stroked-button [disabled]="!element.active" [routerLink]="element.id"><mat-icon>open_in_new</mat-icon></button></td>
    </ng-container>
    <ng-container matColumnDef="modifica">
      <th mat-header-cell *matHeaderCellDef>Modifica</th>
      <td mat-cell *matCellDef="let element"><button (click)="editVm(element)" [disabled]="!(!element.active && isOwner(element))" mat-stroked-button><mat-icon>edit</mat-icon></button></td>
    </ng-container>
    <ng-container matColumnDef="share">
      <th mat-header-cell *matHeaderCellDef>Condividi</th>
      <td mat-cell *matCellDef="let element"><button (click)="shareVm(element)" [disabled]="!isOwner(element)" mat-stroked-button><mat-icon>share</mat-icon></button></td>
    </ng-container>
    <ng-container matColumnDef="elimina">
      <th mat-header-cell *matHeaderCellDef>Elimina</th>
      <td mat-cell *matCellDef="let element"><button (click)="deleteVm(element)" [disabled]="!(!element.active && isOwner(element))" mat-stroked-button><mat-icon>delete</mat-icon></button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
<app-team-resources [vmConfig]="vmConfig" [cpu]="cpu()" [ram]="ram()" [disk]="disk()" [active]="active()" [vmNumber]="vmNumber()"></app-team-resources>
