<mat-toolbar>
  <mat-icon  id="hamburger" (click)="toggleForMenuClick()">menu</mat-icon>
  <div *ngIf="!editCourseName">
    <span>{{selectedItem}}</span>
  </div>
  <div *ngIf="editCourseName">
    <input matInput type="text" [(ngModel)]="selectedItem"/>
    <button (click)="stopEditCourseName()" mat-button>Salva</button>
  </div>
  <span class="fill_space"></span>
  <div *ngIf="editCourseOptions">
    <button mat-button class="course_edit"><mat-icon (click)="openAddCourseDialog()">add</mat-icon></button>
    <button *ngIf="selectedItem!='Seleziona un corso'" mat-button class="course_edit"><mat-icon (click)="startToEditCourseName()">edit</mat-icon></button>
    <button *ngIf="selectedItem!='Seleziona un corso'" mat-button class="course_edit"><mat-icon (click)="deleteCourseDialog()">delete</mat-icon></button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item *ngFor="let course of courses"
                       (click)="handleClick(course)"
                       [disabled]="!course.enabled"
                       [routerLink]="['/teacher/course', course.name]">
          {{course.name}}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
