<mat-toolbar>
  <button mat-icon-button id="hamburger" (click)="toggleForMenuClick()">
    <mat-icon >menu</mat-icon>
  </button>
  <span>{{selectedItem}}</span>
  <span class="fill_space"></span>
  <div *ngIf="editCourseOptions">
    <button mat-button class="course_edit" (click)="openAddCourseDialog()"><mat-icon>add</mat-icon></button>
    <button *ngIf="selectedItem!='Seleziona un corso'" mat-button class="course_edit" (click)="startToEditCourse()"><mat-icon>edit</mat-icon></button>
    <app-share-course-button *ngIf="selectedItem!='Seleziona un corso'" [courseName]="selectedItem"></app-share-course-button>
    <button *ngIf="selectedItem!='Seleziona un corso'" mat-button class="course_edit" (click)="deleteCourseDialog()"><mat-icon>delete</mat-icon></button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item *ngIf="courses.length < 1" disabled>Nessun corso</mat-list-item>
        <mat-list-item *ngFor="let course of courses"
                       (click)="handleClick(course)"
                       [routerLink]="['/teacher/course', course.name]">
          {{course.name}}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
