<div *ngIf="isVisible()" id="notifications-menu">
  <button mat-icon-button [mat-menu-trigger-for]="menu"><mat-icon>notifications</mat-icon></button>
  <mat-menu #menu="matMenu" class="my-menu">
    <div class="container">
      <!--
      <p id="no-notification">Non hai ricevuto alcuna notifica</p>
      -->
      <mat-divider></mat-divider>
      <app-notification-card type="0"></app-notification-card>
      <mat-divider></mat-divider>
      <app-notification-card type="2"></app-notification-card>
      <mat-divider></mat-divider>
      <app-notification-card type="1"></app-notification-card>
      <mat-divider></mat-divider>
    </div>
  </mat-menu>
</div>

