#notifications-menu{
  padding: 0;
  margin-right: 10px;
  margin-left: 0;
  display: inline-block;
}

::ng-deep .mat-menu-panel{
  padding: 0 10px!important;
  max-width: 100%!important;
}

div.container{
  padding: 20px 0;
  text-align: center;
}
#no-notification{
  margin: 10px 0 ;
  padding: 0;
  color: #7f8c8d;
}
